<!-- views/pages/configuration.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
</head>


<meta charset='UTF-8'> 
<meta name='viewport' content='width=device-width', initial-scale=1.0></head>


<body class="container", onload= >
    
    <header>
        <% include ../partials/header %>
    </header>

	Latest Temperature °C:
	<p id="latestTemperature"></p>
	Latest Resistance Ω:
	<p id="latestResistance"></p>
	Latest Humidity :
	<p id="latestHumidity"></p>

<script>
    var muxData = [];
    var idData = [];
    var amkData = [];

    <%for(var i=0;i < tagId.length; i++){ %>
        
		muxData.push(<%= tagTemp[i] %>);
        amkData.push(<%= tagSik[i] %>);


	<% } %>


    document.getElementById("latestHumidity").innerHTML = muxData;
    document.getElementById("latestResistance").innerHTML = amkData;


    /// ajax request
    var interval2 = null;
    interval2 = setInterval(ajaxCall,5000);

    function ajaxCall() {
	
	    $.ajax({
        	url: "/getBuff",
        	type: "POST",
        	dataType: "json",
        	data: {},
        	contentType: "application/json",
        	cache: false,
        	timeout: 5000,
        	complete: function() {
           		//called when complete
            	console.log('process complete');
        	},
        	success: function(data) {
                
                muxData = data.tagTemp ;
                console.log(muxData);
                document.getElementById("latestHumidity").innerHTML = muxData;
  	    	},
        	error: function() {
               		console.log('process error');
        	},
	    });
    }





</script>


    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
