<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <ul class="nav navbar-nav">
            <li><a href="/">HomePage</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
			<li><a href="/configuration">Configuration</a></li>	    
        </ul>

    </div>

    <script>

    </script>

</nav>
