<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<meta charset='UTF-8'> 
<meta name='viewport' content='width=device-width', initial-scale=1.0></head>

<body class="container">
	<!-- load the header.ejs -->
	<header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h2>The Dashboard of Humidity Control System</h2>
            <p></p>     
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

<script>

</script>  

</body>
</html>
