<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<meta charset='UTF-8'> 
<meta name='viewport' content='width=device-width', initial-scale=1.0></head>


<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>ETSE-UV</h1>
            <p>Express & EJS just trying</p>
            
        </div>
    </main>

 

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>
