<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                ETSE-UV
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">HomePage</a></li>	    
        </ul>

	<form action="" id="materialform" onsubmit="return false;" align="right">
                <select id="materialList" name='filling' onchange="calculateTotal()">
                <option value="None">Select The Sensor</option>
                <option value="Sensor1">Sensor 1</option>
		<option value="Sensor2">Sensor 2</option>
                <option value="Sensor3">Sensor 3</option>
                </select>            
    </form>
      
    </div>

    <script>
	var filling_material= new Array();
		filling_material["None"]= 0;
		filling_material["Sensor1"]= 1;
		filling_material["Sensor2"]= 2;
		filling_material["Sensor3"]= 3;
 
	function getResult()
	{
    		var moistureResult=0;
    		//Get a reference to the form id="materialform"
    		var theForm = document.forms["materialform"];
    		//Get a reference to the select id="materialList"
     		var selectedFilling = theForm.elements["materialList"];
     
    		moistureResult = filling_material[selectedFilling.value];
    		//finally return moistureResult
    		return moistureResult;
	}
   
	function calculateTotal()
	{    
    		if (getResult() == 1){
			window.location.href = '/sensor1'
    		}	
		else if (getResult() == 2){
			window.location.href = '/sensor2'
    		}	
    		else if (getResult() == 3){
			window.location.href = '/sensor3'
    		}  
	}
    </script>

</nav>
